<section class="row">
  <article class="col-12">
    <h2>Subsciptions</h2>
    <ul class="list-group">
      <li class="list-group-item">Subscipton 1</li>
      <li class="list-group-item">Subscipton 2</li>
    </ul>
  </article>
</section>