<section class="row">
  <article class="col-md-9 col-sm-9">
    <h2>Identity</h2>
    <dl class="row">
      <dt class="col-sm-3">First name</dt>
      <dd class="col-sm-9">{{ app.user.firstName }}</dd>

      <dt class="col-sm-3">Last name</dt>
      <dd class="col-sm-9">{{ app.user.lastName }}</dd>

      <dt class="col-sm-3">Email</dt>
      <dd class="col-sm-9">{{ app.user.email }}</dd>

      <dt class="col-sm-3">Function</dt>
      <dd class="col-sm-9">{{ app.user.jobTitle|default('N/A') }}</dd>

      <dt class="col-sm-3">Location</dt>
      <dd class="col-sm-9">{{ app.user.location|default('N/A') }}</dd>

      <dt class="col-sm-3">Office phone</dt>
      <dd class="col-sm-9">{{ app.user.officePhone|default('N/A') }}</dd>

      <dt class="col-sm-3">Mobile phone</dt>
      <dd class="col-sm-9">{{ app.user.mobilePhone|default('N/A') }}</dd>
    </dl>
  </article>
  <aside class="col-md-3 col-sm-12">
    <img src="{{ app.user.photo|default(constant('App\\Entity\\User::DEFAULT_PROFILE_PHOTO')) }}" alt="{{ app.user.fullName }}" class="img-thumbnail" />
  </aside>
  <footer class="col-12">
    <a href="{{ path('my_account_edit') }}" class="btn btn-primary">
      <i class="fas fa-edit"></i>&nbsp;Edit
    </a>
  </footer>
</section>