{% extends 'base.html.twig' %}

{% block title 'Account' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1 class="page-title">Account page - <small>{{ app.user.fullName }}</small></h1>
            <hr />
            {% for type, messages in app.session.flashbag.all() %}
                <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="identity-tab" data-toggle="pill" href="#identity" role="tab" aria-controls="identity" aria-selected="true">
                    <i class="fa fa-address-card"></i>&nbsp;Identity
                </a>
                <a class="nav-link" id="social-tab" data-toggle="pill" href="#social" role="tab" aria-controls="social" aria-selected="true">
                    <i class="fas fa-users"></i>&nbsp;Social
                </a>
                <a class="nav-link" id="feeds-tab" data-toggle="pill" href="#feeds" role="tab" aria-controls="feeds" aria-selected="true">
                    <i class="fas fa-rss"></i>&nbsp;Subscriptions
                </a>
                <a class="nav-link" id="network-tab" data-toggle="pill" href="#network" role="tab" aria-controls="network" aria-selected="true">
                    <i class="fas fa-network-wired"></i>&nbsp;Network
                </a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="identity" role="tabpanel" aria-labelledby="identity-tab">
                    {% include 'account/identity_tab.html.twig' %}
                </div>
                <div class="tab-pane fade show" id="social" role="tabpanel" aria-labelledby="social-tab">
                    {% include 'account/social_tab.html.twig' %}
                </div>
                <div class="tab-pane fade show" id="feeds" role="tabpanel" aria-labelledby="feeds-tab">
                    {% include 'account/feeds_tab.html.twig' %}
                </div>
                <div class="tab-pane fade show" id="network" role="tabpanel" aria-labelledby="network-tab">
                    {% include 'account/network_tab.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <script>
        const es = new EventSource(
            'http://mercure:3000/hub?topic=' + encodeURIComponent('http://example.com/books/1'),
            {
                "withCredentials": true
            }
        );
            es.onmessage = e => {
                // Will be called every time an update is published by the server
                console.log(JSON.parse(e.data));
            }
    </script>
{% endblock %}