{% extends 'base.html.twig' %}

{% block title 'Edit account' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1 class="page-title">Edit details - <small>{{ app.user.fullName }}</small></h1>
            <hr />
        </div>
        {{ form_start(form, { 'attr': {'class': 'col-12  ' } }) }}
            <div class="row">
                <div class="col-9">
                    <p class="text-muted">
                        <a href="{{ path('my_account') }}"><i class="fas fa-long-arrow-alt-left"></i>&nbsp;Back to account</a>
                        <button type="button" class="float-right btn btn-sm btn-dark" data-toggle="tooltip" data-placement="left" title="You cannot edit all fields yourself. If you need to update them, please open a request to an administrator.">
                            <i class="fas fa-question-circle"></i>
                        </button>
                    </p>
                    <div class="row">
                        <div class="col-6">     
                            <div class="form-group">
                                {{ form_row(form.firstName) }}
                                {{ form_errors(form.firstName) }}
                            </div>
                        </div>
                
                        <div class="col-6">        
                            <div class="form-group">
                                {{ form_row(form.lastName) }}
                                {{ form_errors(form.lastName) }}
                            </div>
                        </div>
                    
                        <div class="col-6">
                            <div class="form-group">
                                {{ form_row(form.location) }}
                                {{ form_errors(form.location) }}
                            </div>
                        </div>
                    
                        <div class="col-6">
                            <div class="form-group">
                                {{ form_row(form.officePhone) }}
                                {{ form_errors(form.officePhone) }}
                            </div>
                        </div>
                    
                        <div class="col-6">
                            <div class="form-group">
                                {{ form_row(form.mobilePhone) }}
                                {{ form_errors(form.mobilePhone) }}
                            </div>
                        </div>
                    </div>
                </div>
                
                <aside class="col-3">
                    <img src="{{ app.user.photo|default(constant('App\\Entity\\User::DEFAULT_PROFILE_PHOTO')) }}" alt="{{ app.user.fullName }}" class="img-thumbnail" />

                    {{ form_row(form.photo) }}
                    {{ form_errors(form.photo) }}
                </aside>

                <div class="col-12">
                    <input type="submit" class="btn btn-primary form-control" value="{{ 'account.update'|trans({}, 'security') }}"/>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}