<section class="row">
  <article class="col-12">
    <h2>Social</h2>
    <div class="row">
      <section class="col-md-4 col-sm-12">
        <h4>Lastest posts</h4>
        <a href="{{ path('mail_test') }}" class="btn btn-success">Send me a test email!</a> 
        <a href="{{ path('mercure_test') }}" class="btn btn-success">Send me a Mercure email!</a> 
      </section>

      <section class="col-md-4 col-sm-12">
        <h4>Upcoming events</h4>
      </section>

      <section class="col-md-4 col-sm-12">
        <h4>Past events</h4>
      </section>
    </div>
  </article>
</section>