{% extends 'base.html.twig' %}

{% block title 'Login page' %}

{% block bodyclass 'login' %}

{% block body %}
<section class="row">
    <article class="mt-5 col-sm-12 col-md-6 offset-md-3 card">
        <div class="card-body">
            <h1 class="card-title text-center">{{ 'login.sign_in'|trans({}, 'security') }}</h1>

            <hr />

            <form method="post">
                {% for type, messages in app.session.flashbag.all() %}
                    <div class="alert alert-{{ type }}">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endfor %}

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>

                    {% if app.user %}
                        <div class="checkbox mb-3">You are already logged in (as {{ app.user.username }}), <a href="{{ path('app_logout') }}">Logout</a>
                    {% endif %}
                {% endif %}

                <div class="form-group">
                    <label for="email">{{ 'form.email'|trans({}, 'user') }}</label>
                    <input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" placeholder="{{ 'user.email'|trans({}, 'user') }}" required autofocus>
                </div>

                <div class="form-group">
                    <label for="password">{{ 'form.password'|trans({}, 'user') }}</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="{{ 'user.password'|trans({}, 'user') }}" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-primary form-control" type="submit">
                            {{ 'login.sign_in'|trans({}, 'security') }}
                        </button>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-secondary form-control" href="#" role="button">
                            {{ 'login.forgot_password'|trans({}, 'security') }}
                        </a>
                    </div>
                </div>

                <hr />

                <div class="text-center">
                    <a class="btn btn-primary form-control" href="{{ path('register') }}" role="button">
                        {{ 'login.sign_up'|trans({}, 'security') }}
                    </a>
                </div>
            </form>
        </div>
    </article>
</section>
{% endblock %}
