{% extends 'base.html.twig' %}

{% block title 'Registration' %}

{% block body %}
    <section class="row">
        <header class="col-12">
            <h1 class="card-title text-center">{{ 'login.register'|trans({}, 'security') }}</h1>
        </header>

        {{ form_start(form, { 'attr': {'class': 'col-12  ' } }) }}
        
        <div class="row">
            <div class="col-6">        
                <div class="form-group">
                    {{ form_row(form.firstName) }}
                    {{ form_errors(form.firstName) }}
                </div>
            </div>
            
            <div class="col-6">        
                <div class="form-group">
                    {{ form_row(form.lastName) }}
                    {{ form_errors(form.lastName) }}
                </div>
            </div>
        
            <div class="col-6">
                <div class="form-group">
                    {{ form_row(form.email.first) }}
                    {{ form_errors(form.email) }}
                </div>
            </div>
        
            <div class="col-6">
                <div class="form-group">
                    {{ form_row(form.email.second) }}
                </div>
            </div>
            
            <div class="col-6">
                <div class="form-group">
                    {{ form_row(form.password.first) }}
                    {{ form_errors(form.password) }}
                </div>
            </div>
            
            <div class="col-6">
                <div class="form-group">
                    {{ form_row(form.password.second) }}
                </div>
            </div>
            
            <div class="col-12">
                <input type="submit" class="btn btn-primary form-control" value="{{ 'login.register'|trans({}, 'security') }}"/>
            </div>
        </div>

        {{ form_end(form) }}
    </section>
{% endblock %}
