{% extends 'base.html.twig' %}

{% block title 'Hub' %}

{% block body %}
    <div class="row">
        <header class="col-12">
            <h1 class="page-title"><i class="fab fa-hubspot"></i>&nbsp;{{ app.user.firstName }}'s hub</h1>
        </header>
        <aside class="col-xs-12 col-4">
            <h2 class="h4">Post something</h2>
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_widget(form.title)}}
                </div>
                <div class="form-group">
                    {{ form_widget(form.content)}}
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        {{ form_widget(form.publish_date)}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                        </div>
                        {{ form_widget(form.location)}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_widget(form.picture)}}
                </div>
                <div class="form-group">
                    <strong class="switch-label">Send notification</strong>
                    <label class="switch ">
                        <input name="_notify" type="checkbox" class="primary" checked>
                        <span class="slider"></span>
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary form-control btn-sm" value="Publish"/>
                </div>
            {{ form_end(form) }}
        </aside>
        <section class="col-xs-12 col-8">
            <article class="row">
                {% for post in posts %}
                    <div class="card col-12">
                        <div class="row no-gutters">
                            <div class="col-md-2">
                                <h5></h5>
                                <img src="{{ app.user.photo|default(constant('App\\Entity\\User::DEFAULT_PROFILE_PHOTO')) }}" class="card-img" />
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text">{{ post.content }}</p>
                                    <p class="card-text">
                                        <small class="text-muted">{{ post.user.firstname }}, {{ post.publishDate|date("d/m/Y") }}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}

                {% endfor %}
            </article>
        </section>
    </div>
{% endblock %}