body.login {
    background: url('../images/backgrounds/world_connected.png') center center no-repeat;
}

body {
    main {
        padding-bottom: 40px;
    }

    footer#footer {
        background-color: $lightGray;
        font-size: 0.8rem;

        article.topic {
            border-right: solid 1px black;
        }
    }
}