<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('css/all.min.css') }}" media="all" rel="stylesheet" />
            <link href="{{ asset('css/bootstrap-datepicker.min.css') }}" media="all" rel="stylesheet" />
        {% endblock %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        {% include 'menu.html.twig' %}
        <main class="container mt-4">
            {% block body %}{% endblock %}
        </main>
        {% include 'footer.html.twig' %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
