<footer id="footer" class="container-fluid p3">
    <section class="row">
        <article class="topic col-2 offset-1 my-3">
            <ul class="list-unstyled">
              <li><a href="{{ path('privacy_policy') }}">Legal</a></li>
              <li>Terms of use</li>
              <li>About</li>
              <li>Contact</li>
            </ul>
        </article>
    </section>
    <section class="row">
        <article class="col-12 my-2 text-center">Copyright @ {{ ''|date('Y') }}</article>
    </section>
</footer>