<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ path('home') }}">Symfony playground</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      {% if app.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('home') }}"><i class="fas fa-home"></i>&nbsp;Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('hub') }}"><i class="fab fa-hubspot"></i>&nbsp;My hub</a>
        </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if app.user %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle"></i>&nbsp;{{ app.user.firstName }}
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{ path('my_account') }}">My account</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ logout_path() }}">Logout</a>
        </div>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login') }}">Login</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>